<!DOCTYPE html>  
<html>  
<head>
	<title>Family Pictures</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<h3>Family Album over the years</h3>
	{% for key in my_dict %}
		{% if key.get('Directory') != None %}
        		<ul>D <a href="{{my_url}}?path={{my_path}}/{{key.get('Directory') }}">{{key.get('Directory')}}</a></ul>
		{% else %}
			<ul>F <a href="{{my_url}}?path={{my_path}}/{{key.get('File')}} ">{{key.get('File')}}</a></ul>
		{% endif %}
	{% endfor %}
</body>
</html>  
